$default: #333333;
$accent: #D1A954;
$text: #fff;

%OpenSansCondensed-Bold-700 {
    font-family: "OpenSansCondensed-Bold";
    font-weight: 700;
}

%OpenSansCondensed-Light-300 {
    font-family: "OpenSansCondensed-Light";
    font-weight: 300;
}

%OpenSans-400 {
    font-family: 'OpenSans';
    font-weight: 400;
}