@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

.header {
    display: flex;
    background: top center no-repeat url(../images/header-fon.webp);
    margin-bottom: 100px;
    &__info {
        background-color: rgba(51, 51, 51, 0.75);
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        padding-bottom: 90px;
    }
    &__info-text {
        font-size: 18px;
        line-height: 24px;
        @extend %OpenSansCondensed-Bold-700;
        text-align: center;
        padding: 0 60px;
        padding-top: 80px;
        letter-spacing: 0.1em;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
    &__info-text::before {
        content: "";
        position: absolute;
        border-bottom: 3px solid #c4c4c4;
        width: 80px;
        left: 0px;
        right: 33px;
        top: 0px;
        transform: rotate(90deg);
    }
    &__info-social {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__info-link {
        margin-top: 30px;
        padding: 0 60px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        &__btn {
            display: none;
        }
        &__list {
            display: flex;
            justify-content: space-between;
            margin: 50px 0 50px;
        }
        &__list-social {
            display: none;
        }
        &__list-item {
            font-size: 18px;
            @extend %OpenSansCondensed-Bold-700;
            margin-right: 60px;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }
        &__list-item:last-child {
            margin-right: 0;
        }
        &__list-link {
            color: $text;
            transition: all 0.3s;
        }
        &__list-link:hover {
            color: $accent;
        }
    }

    &__contact {
        margin: 50px 0 50px;
    }
    &__contact-tel {
        font-size: 16px;
        @extend %OpenSansCondensed-Bold-700;
        color: $text;
        border-bottom: 2px solid $accent;
        padding-bottom: 5px;
        transition: all 0.3s;
    }
    &__contact-tel:hover {
        color: $accent;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin: 190px 65px 160px 0;
    }
    &__content-info {
        min-width: 540px;
        margin-top: 130px;
        margin-right: 125px;
    }
    &__content-title {
        font-size: 64px;
        line-height: 87px;
        @extend %OpenSansCondensed-Bold-700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-bottom: 50px;
    }
    &__content-text {
        @extend %OpenSans-400;
        max-width: 540px;
        margin-bottom: 50px;
    }
    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__slider-inner {
        max-width: 370px;
        position: relative;
    }
    &__slider-img {
        min-width: 370px;
        max-width: 100%;
        min-height: 510px;
        object-fit: cover;
    }
    &__slider-btn {
        margin-top: 35px;
    }
    &__slider-btnPrev {
        margin-right: 60px;
        padding-left: 65px;
    }
    &__slider-btnPrev::after {
        content: "";
        position: absolute;
        left: -5px;
        top: 7px;
        width: 50px;
        height: 10px;
        background: center no-repeat url(../images/arrow-L.png);
    }
    &__slider-btnNext {
        margin-left: 60px;
        padding-right: 65px;
    }
    &__slider-btnNext::before {
        content: "";
        position: absolute;
        right: -5px;
        top: 7px;
        width: 50px;
        height: 10px;
        background: center no-repeat url(../images/arrow-R.png);
    }
}

.about {
    margin-bottom: 100px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__inner-content {
        max-width: 445px;
    }
    .about-content {
        &__title {
            font-size: 21px;
            line-height: 28px;
            @extend %OpenSansCondensed-Bold-700;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        &__text {
            @extend %OpenSans-400;
            // font-family: 'OpenSans';
        }
    }
    .about-info {
        &__title {
            font-size: 21px;
            line-height: 28px;
            @extend %OpenSansCondensed-Bold-700;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        &__img {
            width: 70px;
            height: 70px;
            margin-bottom: 10px;
        }
        &__text {
            font-size: 16px;
            margin-bottom: 25px;
            @extend %OpenSansCondensed-Bold-700;
        }
    }
    &__inner-img {
        width: 100%;
        max-width: 350px;
        max-height: 292px;
    }
}

.productions {
    margin-bottom: 150px;
    &__slider {
        margin-left: 145px;
    }
    &__slider-item {
        max-width: 442px;
        max-height: 550px;
        position: relative;
        margin: 0;
    }
    &__slider-item:hover {
        .productions__slider-increase {
            background: center no-repeat url(../images/search.svg);
            background-color: $accent;
            border-radius: 50%;
            position: absolute;
            width: 100px;
            height: 100px;
            top: 40%;
            left: 40%;
            transition: all 0.5s;
            opacity: 1;
        }
        .productions__slider-text,
        .productions__slider-date {
            opacity: -1;
        }
    }
    &__slider-link::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 0.5s;
    }
    .productions__slider-link:hover::after {
        background-color: rgba(0, 0, 0, 0);
    }
    &__slider-text {
        font-size: 24px;
        line-height: 32px;
        color: $text;
        text-transform: uppercase;
        @extend %OpenSansCondensed-Bold-700;
        position: absolute;
        top: 40px;
        left: 40px;
        transition: all 0.5s;
    }
    &__slider-date {
        font-size: 18px;
        line-height: 24px;
        color: $text;
        text-transform: uppercase;
        @extend %OpenSansCondensed-Bold-700;
        position: absolute;
        bottom: 80px;
        left: 0px;
        transform: rotate(270deg);
        transition: all 0.8s;
    }
    &__slider-increase {
        background: center no-repeat url(../images/search.svg);
        background-color: $accent;
        position: absolute;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        top: 40%;
        left: 40%;
        transition: all 0.8s;
        opacity: 0;
    }
    &__slider-img {
        max-width: 442px;
        height: 550px;
        width: 100%;
        object-fit: cover;
    }
    .popup {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all 0.8s ease 0s;
    }
    .popup:target {
        opacity: 1;
        visibility: visible;
    }
    .popup:target .popup__content {
        opacity: 1;
        transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    }
    .popup__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .popup__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    .popup__content {
        max-width: 100vh;
        position: relative;
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    }
    .popup__close {
        position: absolute;
        top: 20px;
        right: 20px;
        transition: all 0.8s;
        width: 48px;
        height: 48px;
        background: center no-repeat url(../images/close.png);
    }
    .popup__close:hover {
        transform: rotateY(180deg);
    }
}

.critics {
    &__inner {
        background: no-repeat url(../images/critics-fon.webp);
        display: flex;
        margin-bottom: 150px;
    }
    &__date {
        margin: 125px 105px 125px 180px;
    }
    &__date-text {
        font-size: 72px;
        line-height: 98px;
        color: $accent;
        @extend %OpenSansCondensed-Bold-700;
    }
    &__content {
        margin-top: 170px;
    }
    &__stars-img {
        max-width: 230px;
        max-height: 25px;
        margin-bottom: 25px;
    }
    &__content-text {
        max-width: 500px;
        font-size: 36px;
        line-height: 54px;
        @extend %OpenSansCondensed-Bold-700;
    }
}

.partners {
    &__slider-inner {
        max-width: 100%;
        display: flex;
    }
    &__slider-img {
        max-width: 200px;
        max-height: 100px;
        margin-bottom: 80px;
    }
}

.contacts {
    &__inner {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #565656;
    }
    &__info-list {
        max-width: 320px;
        display: flex;
        flex-direction: column;
    }
    &__info-tel,
    .contacts__info-mail,
    .contacts__info-address {
        min-width: 255px;
        font-size: 16px;
        color: $text;
        @extend %OpenSansCondensed-Bold-700;
        margin-bottom: 25px;
        text-transform: uppercase;
        transition: all 0.3s;
    }
    &__info-tel:hover,
    .contacts__info-mail:hover {
        color: $accent;
    }

    .form-box {
        display: flex;
        &__data {
            display: flex;
            justify-content: space-between;
        }
        &__data-inputs {
            margin-right: 30px;
        }
        &__data-mess {
            width: 70%;
        }
        &__data-input {
            width: 100%;
            height: 35px;
            font-size: 16px;
            color: $text;
            border: none;
            background-color: #444444;
            margin-bottom: 30px;
            padding: 15px;
        }
        &__data-message {
            width: 100%;
            height: 100px;
            resize: none;
            margin-right: 0;
        }
    }
    &__form-box {
        max-width: 730px;
    }
    &__form-box2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }
    &__form-text {
        font-size: 12px;
        color: #989898;
        @extend %OpenSans-400;
        max-width: 390px;
    }
}

.footer {
    &__copyright {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        @extend %OpenSans-400;
    }
    &__copyright-text {
        font-size: 12px;
        color: #989898;
        @extend %OpenSans-400;
    }
}

@import "media";
