@media (max-width: 1300px) {
    .container {
        max-width: 720px;
    }
    .header {
        .menu__list-item {
            margin-right: 20px;
        }
        .menu__list-item:last-child {
            margin-right: 0;
        }
        &__top {
            flex-direction: column;
            align-items: center;
        }
        &__contact {
            margin: 0;
        }
        &__slider {
            display: none;
        }
        &__content {
            margin: 230px 0 365px 40px;
        }
        &__content-info {
            margin: 0;
        }
    }

    .about {
        &__inner {
            justify-content: center;
        }
        &__inner-content {
            margin-right: 30px;
        }
        &__inner-img {
            display: none;
        }
    }

    .critics {
        background: center no-repeat url(../images/critics-fon.png);
        &__inner {
            background: none;
        }
        &__content-text {
            max-width: 450px;
            font-size: 34px;
            line-height: 51px;
        }
    }

    .partners {
        &__list-item {
            margin-right: 50px;
            margin-bottom: 50px;
        }
        &__list-item:last-child {
            margin-right: 50px;
        }
    }

    .contacts {
        &__inner {
            flex-direction: column;
        }
        &__info {
            display: flex;
            justify-content: space-between;
            order: 2;
            margin-bottom: 80px;
        }
        &__info-list {
            width: auto;
            align-items: flex-end;
            margin-right: 0;
        }
        &__info-tel,
        .contacts__info-mail,
        .contacts__info-address {
            min-width: auto;
        }
        .form-box2 {
            margin-bottom: 80px;
        }
        .form-box__data-message {
            margin-right: 0;
        }
        .form-box__data-input {
            margin-right: 25px;
        }
    }
}

@media (max-width: 992px) {
    .title {
        margin-bottom: 60px;
    }
    .header {
        max-height: 100vh;
        &__contact {
            margin-left: auto;
        }
        &__info {
            display: none;
        }
        &__content {
            margin: 230px 0 250px 0;
        }
        &__content-text {
            max-width: max-content;
        }
        .menu {
            margin-top: 30px;
            margin-right: auto;
            &__list {
                transform: translateX(-1000px);
                position: absolute;
                top: 0;
                width: 300px;
                height: 100vh;
                left: 0px;
                flex-direction: column;
                justify-content: normal;
                background-color: $default;
                margin: 0;
                padding-top: 140px;
                z-index: 5;
                transition: all 0.3s;
                &.menu__list--active {
                    transform: translateX(0px);
                    transition: all 0.3s;
                }
            }
            &__list-link {
                font-size: 24px;
                padding: 5px 20px 5px 30px;
                position: relative;
            }
            &__list-item {
                margin-bottom: 35px;
                margin-right: 0;
            }
            &__list-social {
                display: grid;
                margin-top: 30px;
                padding: 0 50px;
                grid-template-columns: repeat(2, 0.5fr);
                grid-template-rows: repeat(2, 30px);
                a {
                    padding: 0;
                }
            }
            &__info-link {
                padding: 0 60px;
                svg {
                    width: 45px;
                    height: 45px;
                }
            }
            &__btn {
                width: 30px;
                height: 22px;
                border: none;
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 0;
                z-index: 10;
                cursor: pointer;
                span {
                    width: 100%;
                    height: 2px;
                    background-color: $text;
                    top: 10px;
                    transition: all 0.3s;
                }
                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $text;
                    transition: all 0.3s;
                }
                &::before {
                    top: 0;
                }
                &::after {
                    bottom: 0;
                }
            }
        }
        .menu--open {
            .menu__btn {
                &::before {
                    transform: rotate(45deg);
                    top: 9px;
                }
                &::after {
                    transform: rotate(-45deg);
                    top: 9px;
                }
                span {
                    transform: scale(0);
                }
            }
        }
    }

    .productions__slider {
        margin-left: 40px;
    }

    .critics {
        &__inner {
            margin-bottom: 80px;
        }
        &__content {
            margin-top: 180px;
        }
        &__content-text {
            max-width: 390px;
            font-size: 29px;
            line-height: 43px;
        }
        &__date {
            margin: 125px 30px 125px 100px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 510px;
    }

    .header {
        margin-bottom: 80px;
        &__content {
            margin: 105px 0 105px;
        }
        &__content-info {
            min-width: auto;
        }
        &__content-title {
            text-align: center;
        }
        &__content-text {
            max-width: 510px;
        }
    }

    .about {
        &__inner {
            flex-direction: column;
        }
        &__inner-content {
            max-width: auto;
            margin-right: 0;
            margin-bottom: 25px;
            text-align: center;
        }
        .about-info__box {
            display: flex;
            justify-content: space-around;
        }
        .about-info__title {
            text-align: center;
        }
    }
    .productions {
        margin-bottom: 80px;
        &__title {
            margin-bottom: 60px;
        }
    }
    .critics {
        &__date {
            margin: 120px 25px 120px 0;
        }
    }
    .contacts {
        .form-box {
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            &__data-inputs:last-child {
                margin-right: 0;
            }
            &__data-mess {
                width: 100%;
            }
            &__data-message {
                margin-bottom: 0;
            }
            &__data-input {
                margin-right: 0;
            }
        }
        .form-box2 {
            flex-direction: column;
            margin-bottom: 50px;
        }
        &__form-btn {
            max-width: 190px;
            order: 1;
            margin: 0 auto;
        }
        &__form-text {
            max-width: 435px;
            order: 2;
            margin: 0 auto;
            text-align: center;
            margin-top: 30px;
        }
        &__info {
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 40px;
        line-height: 50px;
    }
    .header {
        &__content-title {
            font-size: 55px;
            line-height: 65px;
        }
        .menu__list {
            width: 100%;
        }
    }

    .about {
        .about-info__box {
            flex-direction: column;
        }
        .about-info__box-item {
            text-align: center;
        }
        &__inner {
            align-items: center;
        }
    }

    .productions {
        &__slider {
            margin-left: 10px;
        }
        &__slider-img {
            max-width: 290px;
            height: 290px;
        }
    }

    .critics {
        &__inner {
            flex-direction: column;
        }
        &__date {
            margin: 20px 0 20px;
        }
        &__date-text {
            font-size: 45px;
            line-height: 55px;
            text-align: center;
        }
        &__content {
            font-size: 25px;
            line-height: 40px;
            margin: 0;
            margin-bottom: 20px;
            text-align: center;
        }
        &__stars-img {
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }

    .contacts {
        .form-box__data {
            width: 100%;
            flex-direction: column;
        }
        .form-box__data-inputs {
            margin-right: 0;
        }
        &__info {
            flex-direction: column;
            margin-bottom: 40px;
        }
    }

    .partners {
        margin-bottom: 40px;
        &__slider-img {
            max-width: 70%;
            margin-bottom: 40px;
        }
    }

    .footer__copyright {
        flex-direction: column;
        align-items: center;
    }
}
